
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        Home page
    </h1>
    <a asp-action="" class="btn-primary">Invoice details</a>
    <a  class="btn-primary"> invoice list</a>
</body>
</html>
